@charset "utf-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "微软雅黑";

  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/*回到顶部*/
.totop {
  bottom: 60px;
  right: 40px;
  float: right;
  z-index: 500;
  position: fixed;
  background-repeat: no-repeat;
}

.totop a img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgb(163, 163, 163);
}

/*导航栏*/
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  left: 0;
  top: 0;
  transition: 0.6s;
  z-index: 300;
  padding: 40px 100px;
}

header .logo {
  font-family: sans-serif;

  margin-left: 30px;
  text-shadow: 2px 2px 2px #4d4e4f;
  position: relative;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  transition: 0.8s;
}

header.sticky {
  padding: 5px 100px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  position: relative;
}

header ul li a {
  text-decoration: none;
  position: relative;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 2px 2px 2px #4d4e4f;
  letter-spacing: 2px;
  transition: 0.6s;
  margin: 0 20px;
}

header ul li a:before {
  content: "";
  width: 0;
  position: absolute;

  border-bottom: 3px solid #5c302d;
  bottom: -4px;
  left: 50%;
  transition: 0.6s;
}

header ul li a:hover:before {
  width: 100%;
  border-radius: 5px;

  right: 0;
  left: 0;
}
header ul li a:hover {
  color: #5c302d;
  font-size: 22px;
  text-shadow: none;
}

/*视频版头及遮罩*/
.videohead {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.container {
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  text-align: center;
}

.videobackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.videobackground video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #0d4e58;
  z-index: 1;
  opacity: 0.5;
}

.header-content {
  z-index: 2;
}

.header-content h1 {
  font-size: 130px;
  margin-bottom: 20px;
  font-family: "华文隶书";
}

.header-content p {
  font-size: 24px;
  display: block;
  padding-bottom: 50px;
}

.btn {
  border-style: solid;
  letter-spacing: 2px;
  border-color: #aae4f0;
  color: #aae4f0;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 23px;
  text-decoration: none;
  border-radius: 30px;
}

.btn:hover {
  background: #aae4f0;
  color: #fff;
  transition: 0.8s ease-in-out;
}
@media (max-width: 550px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

/*交互视频*/
#part1 {
  background: url(../images/bg.png) no-repeat;
}
.container1 {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.vidtop {
  font-size: 40px;
  font-weight: 500;
}

.video_info > h3 > a {
  text-decoration: none;
  color: #27583b;
}

#tojhsp {
  padding-top: 80px;
}

.line1 {
  background: #5c302d;
  display: flex;
  width: 160px;
  height: 5px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
}

.row {
  position: relative;
  width: 1100px;
  display: flex;
  margin-left: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 80px;
}
.row .box {
  position: relative;
  width: 500px;
  height: 333px;
  margin: 20px;
  overflow: hidden;
  transition: 0.5s;
}
.row .box:hover {
  z-index: 1;
  transform: scale(1.1);
  box-shadow: 0 25px 40px rgb(180, 180, 180);
}
.row .box .imgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.row .box .imgbox:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgb(228, 228, 228);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
.row .box:hover .imgbox:before {
  opacity: 1;
}
.row .box .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px 40px 40px 40px;
}
.row .box .detail {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;

  align-items: flex-end;
}
.row .box .detail a {
  text-decoration: none;
}
.row .box .detail h2 {
  color: #fff;
  transition: 0.5s;
  margin-bottom: 150px;
  margin-left: 150px;
  font-size: 50px;
  transform: translateY(500px);
}
.row .box:hover .detail h2 {
  transform: translateY(0);
  transition-delay: 0.4s;
}

.row .box .detail p {
  margin-top: 10px;
  color: #fff;
  transform: translateY(200px);
  transition: 0.5s;
}
.row .box:hover .detail p {
  transform: translateY(0);
  transition-delay: 0.5s;
}

/*鼓岭图库*/

.container3 {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 80px;
  width: 100%;
}

.line2 {
  width: 100px;
  height: 5px;
  background: #5c302d;
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 20px;
}

#totuku {
  font-size: 40px;
  font-weight: 500;
  padding-top: 80px;
}
.container2 {
  position: relative;
  max-width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.container2 .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px 0;
}
.container2 .card:nth-child(odd) {
  flex-direction: row;
}
.container2 .card:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}
.container2 .card .imgBx {
  position: relative;
  left: 25px;
  width: 500px;
  height: 400px;

  z-index: 5;
}
.container2 .card:nth-child(even) .imgBx {
  left: -25px;
}
.container2 .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container2 .card .contentBx {
  position: relative;
  right: 25px;
  width: 500px;
  height: 400px;
  background: rgb(157, 214, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 60px 20px 100px;
}
.container2 .card:nth-child(even) .contentBx {
  right: -25px;
  padding: 20px 100px 20px 60px;
}
.container2 .card .contentBx:before {
  content: "";
  position: absolute;
  top: -50px;
  bottom: -50px;
  left: 0;
  right: 0;
  background: rgb(157, 214, 252);
  box-shadow: 0px 0px 5px 2px rgb(46, 156, 230);
  z-index: -1;
}
.container2 .card .contentBx h2 {
  font-size: 30px;
  color: #fff;
}

.container2 .card .contentBx p {
  margin-top: 10px;
  color: #fff;
}
.container2 .card .contentBx a {
  display: inline-block;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #fff;
}
@media (max-width: 1170px) {
  .container2 .card {
    flex-direction: column;
    max-width: 350px;
    margin: 25px 25px;
  }
  .container2 .card .imgBx {
    width: 100%;
    height: 250px;
    left: 0;
  }
  .container2 .card .contentBx {
    width: 100%;
    height: auto;
    right: 0;
    padding: 30px;
    text-align: center;
  }
  .container2 .card .contentBx:before {
    top: 0;
    bottom: 0;
  }
  .container2 .card:nth-child(even) .imgBx {
    left: 0px;
  }
  .container2 .card:nth-child(even) .contentBx {
    right: 0;
    padding: 30px;
  }
}

/*底部信息*/

footer {
  background: #f7f7f7;
  padding: 90px 0;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logos {
  width: 180px;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: #5c302d;
}

.right-col h1 {
  font-size: 26px;
}

.border {
  width: 50px;
  height: 4px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #5c302d;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  margin-top: 20px;
  border-radius: 30px;
  min-width: 260px;
}

.btns {
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #5c302d;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.btns:hover {
  opacity: 0.7;
}

@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .btns {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}
