@charset "utf-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "微软雅黑";
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/*回到顶部*/
.totop {
  bottom: 60px;
  right: 40px;
  float: right;
  z-index: 500;
  position: fixed;
  background-repeat: no-repeat;
}

.totop a img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgb(163, 163, 163);
}

/*导航栏*/
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  left: 0;
  top: 0;
  transition: 0.6s;
  z-index: 300;
  padding: 40px 100px;
}

header .logo {
  font-family: sans-serif;

  margin-left: 30px;
  text-shadow: 2px 2px 2px #4d4e4f;
  position: relative;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  transition: 0.8s;
}

header.sticky {
  padding: 5px 100px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  position: relative;
}

header ul li a {
  text-decoration: none;
  position: relative;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 2px 2px 2px #4d4e4f;
  letter-spacing: 2px;
  transition: 0.3s;
  margin: 0 20px;
}

header ul li a:before {
  content: "";
  width: 0;
  position: absolute;

  border-bottom: 3px solid #5c302d;
  bottom: -4px;
  left: 50%;
  transition: 0.7s;
}

header ul li a:hover:before {
  width: 100%;
  border-radius: 5px;

  right: 0;
  left: 0;
}
header ul li a:hover {
  color: #5c302d;
  font-size: 22px;
  text-shadow: none;
}

/*视频版头及遮罩*/
.videohead {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.container {
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  text-align: center;
}

.videobackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.videobackground video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #0d4e58;
  z-index: 1;
  opacity: 0.5;
}

.header-content {
  z-index: 2;
}

.header-content h1 {
  font-size: 130px;
  margin-bottom: 20px;
  font-family: "华文隶书";
}

.header-content p {
  font-size: 24px;
  display: block;
  padding-bottom: 50px;
}

.btn {
  border-style: solid;
  letter-spacing: 2px;
  border-color: #aae4f0;
  color: #aae4f0;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 23px;
  text-decoration: none;
  border-radius: 30px;
}

.btn:hover {
  background: #aae4f0;
  color: #fff;
  transition: 0.8s ease-in-out;
}
@media  screen and (max-width: 550px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

/*交互视频*/
#part1 {
  background: url(../images/bg.png) no-repeat;
}
.container1 {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

#tojhsp {
  font-size: 40px;
  font-weight: 500;
  padding-top: 80px;
}

.line1 {
  background: #5c302d;
  display: flex;
  width: 160px;
  height: 5px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
}

.row {
  position: relative;
  width: 1200px;
  display: flex;

  flex-wrap: wrap;
  margin-top: 80px;
  padding-bottom: 100px;
}
.row .box {
  position: relative;
  width: 550px;
  height: 400px;
  margin: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.row .box:hover {
  z-index: 1;
  transform: scale(1.1);
  box-shadow: 0 25px 40px rgb(180, 180, 180);
  border-radius: 50px;
}
.row .box .imgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.row .box .imgbox:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgb(131, 129, 129);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
.row .box:hover .imgbox:before {
  opacity: 1;
}
.row .box .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.row .box .detail {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  cursor: pointer;
  align-items: flex-end;
}
.row .box .detail a {
  text-decoration: none;
}
.row .box .detail h1 {
  color: rgb(252, 252, 252);
  transition: 0.5s;
  margin-bottom: 150px;
  margin-left: 200px;
  font-size: 70px;
  transform: translateY(500px);
}
.row .box:hover .detail h1 {
  transform: translateY(0);
}
@media screen and (max-width: 1175px) {
  .row {
    max-width: 600px;
    position: relative;
    margin: 80px auto;
  }
  .row .box {
    width: 480px;
    height: 300px;
    position: relative;
  }

  .row .box .imgbox {
    width: 480px;
    height: 300px;
  }
  .row .box .detail h1 {
    color: rgb(252, 252, 252);
    transition: 0.5s;
    margin-bottom: 120px;
    margin-left: 190px;
    font-size: 45px;
    transform: translateY(500px);
  }
}
@media screen and (max-width: 557px) {
  .row .box {
    width: 350px;
    height: 210px;
    position: relative;
  }

  .row .box .imgbox {
    width: 350px;
    height: 210px;
    position: relative;
  }
  .row .box .detail h1 {
    color: rgb(252, 252, 252);
    transition: 0.5s;
    margin-bottom: 300px;
    margin-left: 140px;
    font-size: 30px;
    transform: translateY(500px);
  }
}
@media screen and (max-width: 300px) {
  .row .box {
    max-width: 300px;
    width: 200px;
    height: 110px;
    position: relative;
  }

  .row .box .imgbox {
    width: 200px;
    height: 110px;
    position: relative;
  }
  .row .box .detail h1 {
    color: rgb(252, 252, 252);
    transition: 0.5s;
    margin-bottom: 70px;
    margin-left: 100px;
    font-size: 20px;
    transform: translateY(500px);
  }
}

/*鼓岭历史*/

.container3 {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 100px;
  width: 100%;
}

.line2 {
  width: 100px;
  height: 5px;
  background: #5c302d;
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 20px;
}

#totuku {
  font-size: 40px;
  font-weight: 500;
  padding-top: 80px;
}
.container2 {
  position: relative;
  max-width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.culture {
  margin-top: 30px;
  overflow: hidden;
  position: relative;
  height: 100%;

  cursor: pointer;
}
.culture img {
  width: 100%;
  height: 100%;
}
.culture-detail {
  position: absolute;
  bottom: -500px;
  background: #ebebebe5;

  width: 100%;
  padding: 40px;
  transition: 0.3s linear;
}
.culture:hover .culture-detail {
  bottom: 0;
}
.cate {
  display: inline-block;
  color: #27583b;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.tittle2 {
  color: #350906;
  font-weight: 500;
  margin: 5px 0;
}
.owl-stage {
  display: flex !important;
}
.owl-prev {
  width: 40px;
  margin-left: 550px;
  margin-top: 10px;
}
.owl-next {
  width: 40px;
}

/*底部信息*/

footer {
  background: #f7f7f7;
  padding: 50px 0;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logos {
  width: 180px;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: #5c302d;
}

.right-col h1 {
  font-size: 26px;
}

.border {
  width: 50px;
  height: 4px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #5c302d;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  margin-top: 20px;
  border-radius: 30px;
  min-width: 260px;
}

.btns {
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #5c302d;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.btns:hover {
  opacity: 0.7;
}

@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .btns {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}
